#Title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#myname {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#quote {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#contribution {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#history {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#t01 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
